{% if section.settings.password_sharing_enabled %}
	<div id="password-sharing">
 			<p class="password-form-heading">{{ 'general.password_page.spread_the_word' | t }}</p>	
 			{% include 'main_sharing' %}
 		</div>
{% endif %}

{% schema %}
	{
    "name": "Password page",
    "class": "password-sharing",
    "settings": [
      {
        "type": "checkbox",
        "id": "password_sharing_enabled",
        "label": "Enable sharing on password page"
      }
    ]
  }
{% endschema %}