<div id="page-content" class="clearfix">

	<header class="page-title">
		<h1 class="title">{{ 'general.404.title' | t }}</h1>
		<h2 class="subtitle">{{ 'general.404.subtitle' | t }}</h2>
	</header>

	<div class="rte">
		{{ 'general.404.content_html' | t }}
	</div>

</div>